body {
    color: white;
    background: black ;
margin: 10px;
font-family:"Ballet" , sans-serif;
}

header {
   border-bottom: solid 2px  rgb(15, 15, 236) rgb(230, 35, 0);
   padding: 20px;
   font-size:32px;
   color: rgb(255, 0, 0) rgb(230, 0, 199);
}

section{
    background: rgb(0, 34, 230) rgb(255, 0, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{                
    margin-right: 5%;
}
h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}
img{
height: 200px;
}
.categoria {
padding-left: 20px;
padding-right: 20xp;
}
.categoria-videos{
display: flex;
overflow-x: auto;
gap: 10xp;
}
.categoria-videos img{
    opacity: 1.0;
    height: 3px;
}
.chamada-video img:hover{
opacity: 1,0;
border: 3px solid green;
}
.categoria hz{
    color: rgb(209, 26, 26);
}
